✅ Заказ оплачен!

📋 Детали заказа:
• ID заказа: {{.OrderUUID}}
• ID пользователя: {{.UserUUID}}
• ID транзакции: {{.TransactionUUID}}
• Способ оплаты: {{if eq .PaymentMethod 1}}Карта{{else if eq .PaymentMethod 2}}СБП{{else if eq .PaymentMethod 3}}Кредитная карта{{else if eq .PaymentMethod 4}}Инвестиции{{else}}Не указан{{end}}

Ваш заказ успешно оплачен и передан в сборку! 🚀

