receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024
  resource:
    attributes:
      - key: service.name
        from_attribute: service.name
        action: upsert

exporters:
  elasticsearch/logs:
    endpoints:
      - http://elasticsearch:9200
    logs_index: otel-logs-%{+yyyy.MM.dd}
    mapping:
      mode: ecs
    flush:
      interval: 5s

  prometheus:
    endpoint: "0.0.0.0:8889"
    const_labels:
      environment: "development"

  otlp/jaeger:
    endpoint: jaeger:4317
    tls:
      insecure: true

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

service:
  extensions: [health_check]
  pipelines:
    logs:
      receivers: [otlp]
      processors: [resource, batch]
      exporters: [elasticsearch/logs]

    metrics:
      receivers: [otlp]
      processors: [resource, batch]
      exporters: [prometheus]

    traces:
      receivers: [otlp]
      processors: [resource, batch]
      exporters: [otlp/jaeger]
